<h1>Books</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
        <tr>
            <td><%= book.title %></td>
            <td><%= book.body %></td>
            <td><a class="" href="">Show</a></td>
            <td><a class="" href="">Edit</a></td>
            <td><a class="" href="">Destroy</a></td>
        </tr
        <% end %>
    </tbody>
</table>
<%= form_with model: Book.new do |f| %>
<h2>New book</h2>
    <label for ="book-title">Title</label>
    <div class="book-title"><%=f.text_field :title %></div>
    
    <label for ="book-body">Body</label>
    <div class= "book-body"><%=f.text_area :body %></div>
    <%=f.submit 'Create Book' %>
<% end %>



